@media (min-width: 1600px){
    .title-container img {
        width: 40rem;
        padding-left: 3rem;
    }

    .ver-planes-container p {
        font-size: 2rem;
    }
}

@media (min-width: 900px) {
    .hamburger-btn {
        display: none;
    }

    .side-nav-menu {
        position: static;
        width: auto;
        height: auto;
        background: none;
        transform: none;
        display: flex;
    }

    .side-nav-menu ul {
        padding: 0 1rem;
        display: flex;
        gap: 20px;
        flex-direction: row;
    }
}

@media (max-width: 1100px) {
    /* STORY SECTION */
    .my-story-text-container {
        width: 90vw;
    }
    
    .story-text-title-sentence {
        padding: 0 4rem;
    }
    
    .story-text-rest {
        padding: 0 6rem;
    }
    /* PLAN CARDS */
    .plan-cards-container {
        gap: 3rem;
    }

    .plan-cards-container .plan-card {
        margin-top: 4rem;
        height: 24rem;
        width: 19rem;
    }

    .plan-card ul {
        margin-top: 1rem;
    }

    /* CONTACT ME */

    .contact-me-section {
        gap: 1rem;
    }

    .contact-me-section .contact-img-container{
        height: 33rem;
        width: 33rem;
    }
    
    .contact-me-section .send-message-container {
        height: 33rem;
        width: 33rem;
    }

    .form-message {
        padding-bottom: 5rem;
    }
}

@media (max-width: 1000px) {

    /* NAV BAR && SIDE NAV BAR */

    .nav-logo-container img {
        width: 8rem;
    }

    .hamburger-btn {
        top: 10px;
    }

    .side-nav-menu {
        top: 5rem;
        z-index: 1000;
    }

    .side-nav-menu a {
        font-size: 1.4rem;
        padding-left: 1rem;
    }

    .dashboard-section {
        grid-template-columns: 1fr;
        grid-template-rows: 20rem 15rem;
        grid-template-areas: 
        'title'
        'start-now';
        background-image: url('./assets/rowing.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        align-items: center;
        justify-items: center;
    }

    .image-container .desktop-dash-img {
        display: none;
    }

    .dashboard-section .title-container img {
        padding: 0;
    }

    .dashboard-section p,
    .dashboard-section a,
    .dashboard-section button {
        margin: 0;
        padding: 0;
    }

    /* STORY-SECTION */
    .my-story-text-container {
        width: 100vw;
    }
    
    .story-text-title-sentence {
        padding: 0 3rem;
    }
    
    .story-text-rest {
        padding: 0 4rem;
    }

    .ver-planes-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* PLAN CARDS */

    .plans-section-container .top-subtitle {
        font-size: 1.4rem;
    }

    .plans-section-container .plans-title {
        font-size: 3.5rem;
    }


    .plan-cards-container {
        gap: 1rem;
    }

    /* BEFORE AND AFTER SECTION */

    .before-after-img-container img {
        width: 15rem;
    }

    /* CONTACT ME */

    .contact-me-section {
        gap: 1rem;
    }

    .contact-me-section .contact-img-container{
        height: 30rem;
        width: 30rem;
    }
    
    .contact-me-section .send-message-container {
        height: 30rem;
        width: 30rem;
    }

    .form-message {
        padding-bottom: 3rem;
    }

}

@media (max-width: 950px) {
    /* PLAN CARDS */

    .plans-section-container .top-subtitle {
        font-size: 1.3rem;
    }

    .plans-section-container .plans-title {
        font-size: 3.2rem;
    }

     .plans-section-container {
        height: auto;
        padding-bottom: 2rem;
    }

    .plan-cards-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .plan-cards-container .plan-card {
        height: 25rem;
        width: 20rem;
    }

    /* CONTACT ME */

    .contact-me-section .contact-img-container{
        height: 26rem;
        width: 26rem;
    }
    
    .contact-me-section .send-message-container {
        height: 26rem;
        width: 26rem;
    }

    .send-message-container h2 {
        padding: 0;
        margin-bottom: 0;
        padding-left: 2rem;
        font-size: 2rem;
    }

    .form-message {
        padding-bottom: 3rem;
    }
}

@media (max-width: 850px) {

    /* STORY-SECTION */
    
    .story-section img {
        width: 9rem;
    }
    .story-text-title-sentence {
        font-size: 1.2rem;
        padding: 0 2rem;
    }
    
    .story-text-rest {
        font-size: 1rem;
        padding: 0 2rem;
    }

    /* EXPERIENCE SECTION */

    .experience-section {
        display: flex;
        flex-direction: column;
        background-image: url('./assets/pushing-dark.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }

    .experience-section .experience-img-container {
        display: none;
    }

    .experience-img-container img {
        display: none;
    }

    .experience-section h1 {
        padding-top: 2rem;
        width: 100%;
    }

    .experience-text-container{
        padding-top: 3rem;
    }

    .experience-section a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin: 5rem 0;
    }

    /* BEFORE AND AFTER SECTION */

    .before-after-img-container img {
        width: 14rem;
    }

    .before-after-img-container{
        gap: 1rem;
    }
    
    .before-img-container,
    .after-img-container {
        gap: 1rem;
    }

   
    /* CONTACT-ME */
    .contact-me-section{
        flex-wrap: wrap;
    }

    .contact-me-section .contact-img-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 33rem;
        width: 33rem;
        background-image: url('./assets/back-dark.jpg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .contact-img-container img {
        display: none;
    }

    .contact-img-container p {
        display: flex;
        text-align: center;
        font-family: 'Khand', sans-serif;
        font-size: 2.5rem;
        font-weight: 500;
        padding: 1rem;
    }
    
    .contact-me-section .send-message-container {
        height: 33rem;
        width: 33rem;
    }

    .send-message-container h2 {
        padding: 1rem 0 1rem 2rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
        font-size: 2.3rem;
    }

    .form-message {
        padding-bottom: 3rem;
    }
}

@media (max-width: 700px) {
   
    /* BEFORE AND AFTER SECTION */
    .before-after-img-container img {
        width: 12rem;
    }

   /* FOOTER */
    footer img {
        width: 15rem;
    }  

    footer h3 {
        font-size: 1rem;
    }

    
}

@media (max-width: 600px) {

   
    body {
        padding-top: 4rem;
    }
    .navbar{
        height: 4rem;
        padding: 0 0 .5rem;

    }

    .nav-logo-container img {
        width: 7rem;
    }

    .hamburger-btn {
        top: 0px;
    }

    .side-nav-menu {
        top: 4rem;
    }      

    .dashboard-section {
        grid-template-rows: 20rem 25rem;
        height: 100vh; 
        padding: 0;
        background-image: url('./assets/espalda.jpg');

    }
    .dashboard-section .title-container img {
        width: 25rem;
    }

    .ver-planes-container p {
        padding-left: 0;
    
    }

    /* EXPERIENCE SECTION */
    .experience-section p {
        font-size: 1.3rem;
        line-height: 1.2;
    }

    /* BEFORE AND AFTER */

    .before-after-section .top-subtitle {
        margin: 0;
    }

    .before-after-img-container img {
        width: 10rem;
    }

    .before-after-img-container{
        gap: .5rem;
    }
    
    .before-img-container,
    .after-img-container {
        gap: .5rem;
    }


    /* CONTACT ME */

    .contact-me-section{
        flex-wrap: wrap;
        padding: 0 0 7rem 0;
    }

    .contact-me-section .contact-img-container{
        height: 30rem;
        width: 100vw;
    }
    
    .contact-me-section .send-message-container {
        height: 30rem;
        width: 100vw;
    }

    .send-message-container h2 {
        padding: 1rem 0 1rem 2rem;
        margin-bottom: 1rem;
        padding-left: 2rem;
        font-size: 2.3rem;
    }

    .form-message {
        padding-bottom: 3rem;
    }

    form .submit-form-btn{
        height: 3rem;
        width: 15rem;
    }

    /* FOOTER */

    footer{
        flex-direction: column;
    }

    .footer-img-container {
        display: flex;
        justify-content: center;
    }

    footer img,
    footer div {
        padding: .5rem 2rem;
    }

    footer p {
        margin: 0;
    }

    footer img {
        width: 20rem;
    }  

    footer h3 {
        font-size: 1.5rem;
        margin: 0;
    }
   
}
